@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

    /* variáveis que podem ser chamadas pelo css3 */
    /* --nome-da-variavel: valor; */
:root {  
    --branco: #fffcfd;
    --azul: #04b4e4;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8; 
    --verde: #05f69a;
    --turquesa: #35d7d5; 
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;

}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

/**------------- HEADER -------------**/

.header {
    color: var(--branco);

    width: 100%;
    height: 20vh;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.header_logo {
    margin-bottom: 0.5rem;
    max-height: 20vh;
}

.header_nav {
    color: var(--azul);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.header_link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

/**------------- CHAMADA -------------**/

.chamada {  
    background-color: var(--azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 12.5%;
}


.chamada .hotels {
	text-align: left;
}

.hotels h1 {
    color: var(--branco);
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;

    padding: 1em;
}

.hotels h1 em {
    text-transform: uppercase;
}


.hotels p {
    font-size: 1em;
    padding: 1em;
}

/**------------- GENERAL_INFO -------------**/

.general_info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
  
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .img-wrapper > img {
    display: block; 
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  
  .img-wrapper > .content{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: var(--verde-agua);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-wrapper > img,
  .img-wrapper > .content {
    transition: 200ms ease-in-out;
  }
  
  .img-wrapper:hover > img.blur {
    filter: blur(4x);
  }
  
  .img-wrapper > .content.fade {
    opacity: 0;
  }
  .img-wrapper:hover > .content.fade {
    opacity: 0.7;
  }

  .img-wrapper .title{
    color: #000;
    float: left;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 1em;
  }
  
  .img-wrapper p {
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 500;
    padding-left: 2em;
  }

  .general_info .info {
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
    border: none;
    cursor: pointer;
    background-color: #000;
    border-radius: 5px;
    font-style: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
  }
  
  .general_info .info:hover {
    background-color: #050336;
    letter-spacing: 1px;
    transition: 0.5s;
  }
  


/***------------- FOOTER -------------**/
.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--azul);

    padding-top: 2.5em;
    padding-bottom: 2em;
}
  
.footer a {
    width: 100%;
    text-decoration: none;
    color: var(--branco);
    font-size: 0.7em;
  }
  
  .footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .footer p {
    color: var(--branco);
    font-size: 0.6em;
    letter-spacing: 2px;
  }
    
  .footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}


@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        
        border: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;

        border: none;
    }
}