@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

    /* variáveis que podem ser chamadas pelo css3 */
    /* --nome-da-variavel: valor; */
:root {  
    --branco: #fffcfd;
    --azul: #04b4e4;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8; 
    --verde: #05f69a;
    --turquesa: #35d7d5; 
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;

}

.container { /* classe muito utilizada, pois se aplicará em todo o site */
    padding-right: 6%;
    padding-left: 6%;
}

/**------------- HEADER -------------**/

.header {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.header_logo {
    margin-bottom: 1rem;
    max-width: 250px;
}

.header_nav {
    color: var(--azul);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.header_link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

/**------------- END HEADER -------------**/

/**------------- CHAMADA -------------**/

.chamada {  
    background-color: var(--turquesa);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 12.5%;
}


.chamada .hotels {
	text-align: left;
}

.hotels h1 {
    color: var(--branco);
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;

    padding: 1em;
}

.hotels h1 em {
    text-transform: uppercase;
}


.hotels p {
    font-size: 1em;
    padding: 1em;
}

/**------------- END CHAMADA -------------**/

/**------------- INFORMAÇÕES -------------**/

.info {  
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin: auto;

    width: 100vw;
    height: 100%;
}


.about1, .about2, .aboutimg .aboutmap {
    width: 50%;
  }

/**------------- END INFORMAÇÕES -------------**/

/***------------- FOOTER -------------**/
.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--azul);

    padding-top: 2.5em;
    padding-bottom: 2em;
}
  
.footer a {
    width: 100%;
    text-decoration: none;
    color: var(--branco);
    font-size: 0.7em;
  }
  
  .footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .footer p {
    color: var(--branco);
    font-size: 0.6em;
    letter-spacing: 2px;
  }
    
  .footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
/***------------- END FOOTER -------------**/



@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}


@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        
        border: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;

        border: none;
    }
}